/* Overrides */
h1,
p {
  font-family: Futura, Verdana, sans-serif;
  margin: 0 0;
}

header {
  margin-top: 5em;
  margin-bottom: 2em;
}

a {
  color: inherit;
}

/* Classes */
.social {
  margin: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid;
  display: inline-block;
}

.center {
  text-align: center;
}

#social-list {
  width: 120px;
  margin: 2.5em auto;
  text-align: center;
}
